.loading-todo-search{
    display: block;
    width: 85%;
    height: 2.75rem;
    padding: 0.5rem;
    margin: 0 auto 2rem;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    background: linear-gradient(90deg, rgba(250,250,250,0.9), rgba(200, 199, 199,0.9));
    background-size: 400% 400%;
    animation: loadingAnimation 3s ease-in-out infinite;
}

@keyframes loadingAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}