.icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    font-weight: 700;
}

.icon-container-delete{
    position: absolute;
    right: 0;
    top: -10px;
    color: black;
    background-color:rgba(255, 255, 255, 0.9);
    border-radius: 50%;
}

.icon-container-add{
    width: 100%;
    height: 100%;
}

.icon-container-arrow{
    position: absolute;
    right: -1.25rem;
    bottom: 8rem;
    width: 10rem;
    height: 10rem;
    animation: up-and-down 1.5s ease-in-out infinite alternate;
}

.icon-svg{
    width: 2.4rem;
    height: 2.4rem;
}

.icon-container-add .icon-svg{
    width: 4.8rem;
    height: 4.8rem;
    transition: 0.8s rotate;
}

.icon-container-add .icon-svg path{
    stroke: var(--dark-blue);
}

.icon-container-arrow .icon-svg{
    width: 10rem;
    height: 10rem;
}

.icon-container-check:hover .icon-svg{
    fill: green;
}

.icon-container-delete:hover .icon-svg{
    fill: red;
}

.icon-container-add:hover .icon-svg{
    rotate: 180deg;
}

@keyframes up-and-down{
    from{
        transform: translateY(1.5rem);
    }
    to{
        transform: translateY(-10rem);
    }
}