:root{
  /* Colores */
  --dark-blue: #082852;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url("./getting-to-success.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body{
  position: relative;
  font-family: "SUSE", sans-serif;
  color: white;
}

#root{
  min-width: 30rem;
  max-width: 65rem;
  height: 100vh;
  padding: 4rem 1.5rem 8rem;
  margin: 0 auto;
}
